.about{
    // margin:100px 0;
    padding: 50px 0;
    .about-top{
        text-align: center;
        color: $seconderycolor;
        padding-bottom: 100px;
        .about-name{
            font-size: 50px;
            font-weight:600;
        }
        .dash-1{
            width: 135px;
            height: 2px;
            background-color:$lightcolor;
            margin: 0 auto 0 auto;
            position: relative;
            left: 10px;
        }
        .dash-2{
            width: 110px;
            height: 2px;
            background-color:$lightcolor;
            margin: 5px auto 0 auto;
            position: relative;
            left: 22px;
        }
    }
    img {
        margin-left: 22%;
        width: 100%;
        max-width: 380px;
        border: 10px solid $bgtextcolor;
        transform: rotate(15deg);
        box-shadow: 60px 60px 0 $seconderycolor;
    }
    .about-info{
        margin-top: 50px;
        padding-left: 0;
        h1{
            font-size: 42px;
            font-weight:500;
            color:#ffffff;
            padding-top: 0;
            margin-bottom: 0; 
        }
        blockquote{
            font-size: 18px;
            font-weight:500;
            color: $primarycolor;
            border-left: 3px solid $primarycolor;
            padding: 0 20px 0 20px;
            margin-right: 100px;        
        }
        p{
            margin: 40px 0;
            font-size: 18px;
            text-align: justify;
            padding-right: 100px;
            font-weight: 500;
            color: $lightcolor;
        }
       
    }
}
@media screen and(max-width:992px) {
    .about{
        margin-bottom: 20px;
        padding-bottom: 20px;
        .about-top{
            padding-bottom: 50px;
        }
        img{
            margin-bottom:80px;
            margin-left: 16%;
            padding: 0;
            width: 100%;
            max-width: 300px;
            border: 10px solid $bgtextcolor;
            transform: rotate(0.9deg);
            box-shadow: 60px 60px 0 $seconderycolor;
        }
        .about-info{
            margin-right: 0 !important;
            padding-right: 0 !important;
            h1{
                margin-left: 20px;
            } 
            blockquote{
                margin-right: 0 !important;
                margin-left: 20px;
            }
            p{
                // padding-right: 0 !important;
                margin-left: 20px;
            }
          }
        }
    }


