.protfolio{
    // margin:0 0 10px 0;
    // padding: px 0 0 0;
    padding-top: 100px;
    .port-top{
        text-align: center;
        color: $seconderycolor;
        margin-bottom: 20px;
        .port-name{
            font-size: 50px;
            font-weight:600;
        }
        .dash-1{
            width: 220px;
            height: 2px;
            background-color:$lightcolor;
            margin: 0 auto 0 auto;
            position: relative;
            left: 34px;
        }
        .dash-2{
            width: 180px;
            height: 2px;
            background-color:$lightcolor;
            margin: 5px auto 0 auto;
            position: relative;
            left: 54px;
        }
    }
    img{
        width: 100%;
        margin-top: 24px;
    }
}